# https://thesis-datasets.s3.eu-central-1.amazonaws.com/fedless-0.0.0-py3-none-any.whl
# /home/app/function/fedless-0.0.0-py3-none-any.whl
# http://138.246.235.175:81/datasets/fedless-0.0.0-py3-none-any.whl
# https://fedless.s3.eu-central-1.amazonaws.com/fedless-0.0.0-py3-none-any.whl