pydantic==1.8.2
tensorflow==2.10.0
numpy~=1.21.6
requests>=2.25,<2.30
twine==3.3.0
PyYAML~=5.4.1
h5py
pymongo~=3.12.3
dnspython~=2.2.1
backoff~=1.10.0
click~=8.1.3
# pandas~=1.5.0
pandas~=1.4.4
matplotlib~=3.3.4
python-jose[cryptography]~=3.3.0
boto3~=1.17.39
tensorflow-privacy==0.8.0
azure-functions~=1.7.0
scikit-learn

# client specs
psutil
GPUtil


# for GPU
# conda install -c conda-forge cudatoolkit=11.2 cudnn=8.1.0